wp-admin
wp-includes
# Ignore all files in the root directory
.htaccess
index.php
license.txt
readme.html
local-xdebuginfo.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Ignore all files in the wp-content directory except for the uploads directory
wp-content/mu-plugins
wp-content/plugins
wp-content/uploads
wp-content/index.php

# Ignore all files in the Themes directory except for the RoadWatchBlog
wp-content/themes/twentytwentyfive
wp-content/themes/twentytwentyfour
wp-content/themes/twentytwentythree
wp-content/themes/index.php
